@import 'https://fonts.googleapis.com/css?family=Roboto';

p{
	font-family: 'Roboto', sans-serif;
	font-size:15px;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-size:32px;
	font-weight:bold;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-size:21px;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-size:18px;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight:bolder;
}